name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Docker build chatservice
        #run: echo "Docker buil chatservice"
        uses: docker/build-push-action@v4.1.1
        with:
          context: ./chatservice
          file: ./chatservice/Dockerfile
          push: true
          tags: |
            pauloggrande/imersao-chatservice:v1
            pauloggrande/imersao-chatservice:latest
      - name: Docker build webapp
        #run: echo "Docker buil webapp"
        uses: docker/build-push-action@v4.1.1
        with:
          context: ./webapp
          file: ./webapp/Dockerfile
          push: true
          tags: |
            pauloggrande/imersao-gpt-webapp:v1
            pauloggrande/imersao-gpt-webapp:latest        
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - uses: actions/checkout@v3
      - name: Autenticar o AWS CLI
        run: echo "Configurar o aws configure"
      - name: Configuracao do Kubectl
        run: echo "Configurar o kubctl"
      - name: Deploy das Aplicações
        run: echo "Executar o camando kubctl apply"
